.section_2 {
    width: 100%;
    position: relative;
    margin-top: 100px;
}

.bg_section {
    position: relative;
    z-index: 5;
    height: 150vh;
}

.svg_s {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.svg_1 {
    text-align: right;
}

.svg_2 {
    text-align: right;
}

svg {
    max-width: 100%;
}

.bg_top_wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.bg_top_wrapper .mg_buble_big {}

.bg_top_wrapper .mg_buble_small {
    width: 10%;
}