.profile {
    width: 100%;
    min-height: 100vh;
}

.container_p {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.p_slide {
    width: 100%;
}

.row_p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    animation: to_right 15s;
    animation-iteration-count: infinite;
    width: 1800px;
    transition: cubic-bezier(.74, .01, .59, .69);
}

.row_p_l {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: to_right 20s;
    animation-iteration-count: infinite;
    width: 1800px;
    transition: cubic-bezier(.74, .01, .58, .7);
}

.column_p {
    width: 200px;
}

.img_full_cover {
    width: 100%;
    height: auto;
    height: 200px;
    background-color: red;
}

.img_p {
    max-width: 100%;
    /* border-radius: 30px; */
    /* width: 100%; */
    object-fit: cover;
}