@media (max-width:1050px) {
    .content_sliding {
        margin-top: 100px;
    }
    .text {
        font-size: 30px!important;
    }
}

.menu {
    z-index: 5!important;
}

@media (max-width:2560px) {
    .svg_s .svg_1 svg {
        width: 100%;
    }
}

@media (max-width:1375px) {
    video {
        width: 100%!important;
    }
    .section_4 {
        grid-template-columns: 50% 30%;
    }
    .content_sliding {
        /* margin-top: 400px; */
    }
    .text {
        font-size: 20px!important;
    }
    .section_2 {
        margin-top: 20px;
    }
    .bg_section_2,
    .bg_top_wrapper {
        height: 60vw;
    }
    .section_3 {
        min-height: 60vw;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .section_4 {
        /* min-height: 60vh; */
        /* display: block; */
    }
}

@media (max-width:1006px) {
    .box .hero_title {
        font-size: 40px;
    }
    h1 a {
        font-size: 60px;
    }
    .content_sliding {
        margin-top: 400px;
    }
    .mg_buble_big {
        width: 60%;
        /* left: 70px!important; */
    }
}

@media (max-width:850px) {
    .content_sliding {
        margin-top: 245px;
    }
    .m-scroll {
        height: 130px;
    }
    .section_4 {
        grid-template-columns: 60%;
        height: auto;
    }
    .svg_random svg {
        height: 500px;
        width: 100%;
    }
}

@media (max-width:790px) {
    .svg_s {
        grid-template-columns: 90%;
        min-height: 200vh;
        position: absolute;
    }
    .section_3 {
        position: relative;
        margin-top: 200vh;
    }
    .bg_section_2 {
        display: none;
    }
    .svg_2 {
        text-align: center;
    }
    .content_sliding {
        margin-top: 150px;
    }
}

@media (max-width:587px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: grid!important;
        grid-template-columns: 50% 50%;
    }
    .mobile .menu_container:first-child {
        display: flex;
        align-items: center;
    }
    .mobile .menu_container:first-child p {
        font-size: 20px;
        padding-left: 5px;
    }
    .mobile .menu_container:nth-child(2) {
        justify-content: right;
    }
    .mobile .menu_container:last-child {
        background: #252737;
        border-radius: 1rem;
        width: 90vw;
        max-width: 400px;
        position: absolute;
        top: 60px;
        right: 0px;
        min-height: 400px;
        z-index: 5;
        display: flex;
        flex-direction: column;
    }
    .mobile .menu_container:last-child p:nth-child(1),
    .mobile .menu_container:last-child p:nth-child(2),
    .mobile .menu_container:last-child p:nth-child(3) {
        width: 80%;
        font-size: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #fff;
    }
    .mobile .menu_container:last-child .btn {
        width: 80%;
        font-size: 20px;
        border-bottom: none;
    }
    .box .hero_title,
    .p_text {
        text-align: left;
    }
    .box .hero_title br {
        display: none;
    }
    .box div {
        width: 100%;
    }
    .content_sliding {
        margin-top: 120px;
    }
    .svg_s {
        min-height: 150vh;
    }
    .section_3 {
        margin-top: 160vh;
    }
}

@media (max-width:495px) {
    .svg_s {
        margin-top: -50px;
    }
    .content_sliding {
        margin-top: 48px;
    }
    .svg_2 {
        margin-top: -111px;
    }
    .section_3 {
        margin-top: 137vh;
    }
}

@media (max-width:426px) {
    .box {
        margin-top: 30px;
    }
}